{% extends "layouts/AdminLTE.html.twig" %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{translate('SIGNIN')}}{% endblock %}

{% block page_description %}{{translate('LOGIN.DESCRIPTION', {'site_name': site.title })}}{% endblock %}

{% block stylesheets_page_group %}
    <!-- Page-group-specific CSS asset bundle -->
    {{ assets.css('css/iCheck') | raw }}
{% endblock %}

{% block body_attributes %}
    class="hold-transition login-page"
{% endblock %}

{% block content %}
<div class="login-box login-form">
  <div class="login-logo">
    <a href="{{site.uri.public}}">{{site.title}}</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">{{translate('SIGNIN')}}</p>

    <div id="alerts-login"></div>

    <form action="{{site.uri.public}}/account/login" id="sign-in" method="post">
      {% include "components/csrf.html.twig" %}
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="{{translate('USERNAME')}}" name="user_name">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="{{translate('PASSWORD')}}" name="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox" name="rememberme"> {{translate('REMEMBER_ME')}}
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">{{translate('LOGIN')}}</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a href="{{site.uri.public}}/account/forgot-password">{{translate('PASSWORD.FORGET')}}</a><br>
    <a href="{{site.uri.public}}/account/resend-verification">{{translate('ACCOUNT.VERIFICATION.RESEND')}}</a><br>
    <a href="register.html" class="text-center">{{translate('REGISTER')}}</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
{% endblock %}

{% block scripts_page %}
    <!-- Include validation rules -->
    <script>
    {% include "components/validators.js.twig" %}
    </script>

    <!-- Include page-specific JS -->
    {{ assets.js('js/iCheck') | raw }}

    <script>
        $(function() {
            $('input').iCheck({
              checkboxClass: 'icheckbox_square-blue',
              radioClass: 'iradio_square-blue',
              increaseArea: '20%' // optional
            });
        });


        $("#sign-in").ufForm({
            validators: page.validators.login,
            msgTarget: $("#alerts-login")
        }).on("submitSuccess.ufForm", function() {
            window.location.replace(site.uri.public);
        });
    </script>
{% endblock %}
