<div id='{{box_id}}' class='modal fade' data-width="760">
  <div class="modal-dialog">
    <div class="modal-content">
      <form role="form" method="post" action="{{form_action}}">
          {% include "components/csrf.html.twig" %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
             </button>
            <h4 class="modal-title">{{translate(box_title)}}</h4>
          </div>
          <div class="modal-body">
    		    <div class="alert alert-danger hidden" id="{{box_id}}_alert">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> {{translate('ERROR')}}</h4>
                    <span></span>
                </div>
    		    <div class="row">
    		    	<div class="col-sm-10">
    				    {% include 'FormGenerator/FormGenerator.twig' %}
    		    	</div>
    		    </div>
          </div>
          <div class="modal-footer">
            {% if "submit" not in buttons.hidden %}
            <div class="col-xs-8 col-sm-4">
                <div class="vert-pad">
                    <button type="submit" class="btn btn-block btn-lg btn-success js-submit">
                        {{translate(submit_button)}}
                    </button>
                </div>
            </div>
            {% endif %}
            {% if "cancel" not in buttons.hidden %}
            <div class="col-xs-4 col-sm-3 pull-right">
                <div class="vert-pad">
                    <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">{{translate("CANCEL")}}</button>
                </div>
            </div>
            {% endif %}
          </div>
      </form>
      <script>
		// Load the validator rules for this form
		var validators = {{validators | raw}};
      </script>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- Fix select2 with this theme -->
<style>
    .select2-selection--single { height: 34px !important; }
    .select2-container {
        width: 100% !important;
        padding: 0;
    }
</style>
{% block page_scripts %}

    <!-- Include page-specific JS -->
    {{ assets.js('js/AdminLTE-login') | raw }}

    <script>
        $(function() {
            $('#{{box_id}}').iCheck({
              checkboxClass: 'icheckbox_square-blue',
              radioClass: 'iradio_square-blue',
              increaseArea: '20%' // optional
            });
            $('#{{box_id}}').find('select').select2({
              minimumResultsForSearch: Infinity
            });
        });
    </script>
{% endblock %}